.mainscreen{
    height: 100%;
    width: 85vw;
}

.mainscreen__container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    overflow: scroll;
}